@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Roboto+Slab:wght@800&family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Dongle&family=Roboto+Slab:wght@800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Roboto+Slab:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #161615;
}

.chat-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: .3em;
  background: -webkit-linear-gradient(60deg, #E21143, #FFB03A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 95%;
  max-width: 700px;
  height: 70vh;
  margin-top: .5em;
  background: #302646;
  border-radius: 10px;
  border: .5px solid white;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.left {
  padding: 1em 1em;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
}

.right {
  display: flex;
  justify-content: flex-end;
  padding: 1em 1em;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
}

.send-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2em;
  max-width: 960px;
  height: 4vh;
}

form {
  display: flex;
  justify-content: center;
  max-width: 700px;
  height: 6vh;
  margin-left: 1em;
  margin-right: 1em;
}

form input {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 0 5px;
}

form button {
  width: 15%;
  border-radius: 20px;
  font-size: 1.5rem;
  margin-left: 15px;
  border: none;
  background: #8500ff;
  color: #fff;
}